<p>component2 works!</p> <pre>withput api using arry of objects data</pre>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Gendar</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of user">
       <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.gendar}}</td>
            <td>{{user.dob}}</td>
       </tr>
    </tbody>
</table>